/*公共样式*/
.clearfix::after,
.clearfix::before{
	content: '';
	display: table;
	clear: both;
}

body{
	font: 14px/1.5 helvetica arial;
	color: #333;
	min-width: 1226px;
	height: 1000px;
}

.w{
	width: 1226px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}
